@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --primary-dark: #fffdff;
    --bg-dark: url(/Img/BackGround-StarWars.jpg);
    --primary-light: #1d1e1f;
    --bg-light: url(/Img/BackGround-White.jpg);
    --highlight: #6cace4;
    --divider: rgb(164, 164, 164);
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto+Condensed", Arial, Helvetica, sans-serif;
  }

  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--bg-dark);
    color: var(--primary-dark);
    transition: al 0.5s ease-in-out;
  }
  
  .light {
    background-color: var(--bg-light);
    color: var(--primary-light);
  }
  
  main {
    min-height: 80vh;
  }
  
  a, p {
  font-size: 1.1rem;
  }