.projects {
  padding: 0 8rem;
  min-height: 80vh;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 770px) {
  .projects {
    padding: 0 2rem;
  }
}

.projects > h2 {
  font-weight: bolt;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Kalam", Arial, Helvetica, sans-serif;
  color: #ff5d00;
  padding: 20px;

}

.projects-container {
  display: grid;
  image-resolution: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8rem;
  transform: none;
  transition: all Os ease Os;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-sizing: border-box;

}

@media (max-width: 770px) {
  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}