.my-btn {
  background: none;
  border: 2px solid var(--divider);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark);
  width: 4rem;
  padding: 0 20px;
  gap: 0.2rem;
  border-radius: 1.5em;
  background-color: #748cab;
}

@media only screen and (max-width: 770px) {
  nav {
    padding: 0 2rem;
  }
}

.my-btn img {
  height: 1.2em;
  width: 1.2em;
}

.my-btn:hover {
  transform: rotateY(360deg);
  transition: all 0.1s ease-in-out;
}
