.my-btn {
  background: none;
  border: 2px solid var(--divider);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: var(--primary-dark);
  width: 6rem;
  padding: 3px 50px;
  gap: 0.3rem;
  margin: auto;
  border-radius: 1.5em;
  background-color: var(--banner-color);
}

@media only screen and (max-width: 770px) {
  nav {
    padding: 0 2rem;
  }
}

.my-btn img {
  height: 1em;
  width: 1.2em;
}

.my-btn:hover {
  transform: rotateX(360deg);
  transition: all 0.1s;
}
