.home {
  padding: 0 8rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

}

@media (max-width: 700px) {
  .home {
    padding: 0 2rem;
  }
}

.home > h2 {
  font-family: "Bungee Spice", Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 1.5em;
}

.home > p {
  font-family: "Bungee Spice", Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 1.1em;
}

.home > h3 {
  font-family: "Bungee Spice", Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 1.2em;

}

.home > a {
  font-size: 1.5rem;
  color: #0da5f0;
}
