.home {
  padding: 0 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
  margin: 1 rem 0;
  gap: 1rem;
}

@media only screen and (max-width: 770px) {
  nav {
    padding: 0 2rem;
  }
}

.home > h2 {
  font-family: "Kalam", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
}

.home > p {
  font-family: "Kalam", Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.home > h3 {
  font-family: "Kalam", Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 30px;
}

.home > a {
  cursor: pointer;
  position: relative;
  padding: 6px;
  font-size: 18px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 1s;
  &:after,
  &:before {
    content: " ";
    width: 5px;
    height: 5px;
    position: absolute;
    border: 0px solid var(--primary-dark);
    transition: all 1s;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 3px solid var(--shadow);
    border-left: 3px solid var(--shadow);
  }
  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 3px solid var(--shadow);
    border-right: 3px solid var(--shadow);
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: var(--highlight);
    color: var(--bg-dark);
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      border-color: var(--letter-color);
    }
  }
}
